- name: Display variables
  ansible.builtin.debug:
    msg: "Installing {{ binary_name }} from {{ url }} with checksum {{ binary_checksum }}"

- name: Validate parameters
  ansible.builtin.assert:
    that:
      - url is defined and url | length > 0
      - binary_name is defined and binary_name | length > 0
      - binary_checksum is defined and binary_checksum | length > 0
    fail_msg: |
      One or more required variables are missing

- name: ensure ~/bin directory exists
  ansible.builtin.file:
    path: "~/bin"
    state: directory
    mode: "u=rwx,go=rx"

- name: install binary
  block:
    - name: try to get checksum of binary
      ansible.builtin.stat:
        path: "~/bin/{{ binary_name }}"
        checksum_algorithm: sha256
      register: github_release_binary_file

    - name: install or update binary
      when: "not github_release_binary_file.stat.exists or github_release_binary_file.stat.checksum != binary_checksum"
      block:
        - name: Print current checksum
          ansible.builtin.debug:
            var: github_release_binary_file.stat.checksum

        - name: generate name for tmp file
          ansible.builtin.set_fact:
            github_release_binary_tmp_path: "/tmp/{{ lookup('community.general.random_string', special=false) }}.tar.gz"

        - name: download binary tarball
          ansible.builtin.get_url:
            url: "{{ url }}"
            dest: "{{ github_release_binary_tmp_path }}"
            mode: "u=rw,go=r"

        - name: check if file is tar # noqa command-instead-of-module
          ansible.builtin.shell: tar -ztf "{{ github_release_binary_tmp_path }}" || tar -tf "{{ github_release_binary_tmp_path }}";
          changed_when: false
          ignore_errors: true
          register: github_release_is_tar

        - name: extract binary to ~/bin
          when: github_release_is_tar.rc == 0
          ansible.builtin.unarchive:
            src: "{{ github_release_binary_tmp_path }}"
            dest: "~/bin"
            remote_src: true

        - name: move binary to ~/bin
          when: github_release_is_tar.rc != 0
          ansible.builtin.command: "mv {{ github_release_binary_tmp_path }} ~/bin/{{ binary_name }}"

    - name: make binary executable
      ansible.builtin.file:
        path: "~/bin/{{ binary_name }}"
        mode: "u=rwx,go=rx"
