- name: nvm
  when: (extract(container=basic_utils, input='enable_nvm') | default(false)) or (enable_nvm | default(false))
  block:
    - name: set defaults for nvm role
      ansible.builtin.set_fact:
        nvm_defaults:
          # renovate: datasource=github-releases depName=nvm-sh/nvm
          nvm_version: "v0.40.4"

    - name: set facts for nvm role
      ansible.builtin.set_fact:
        nvm: "{{ nvm_defaults | combine((nvm | default({})), recursive=true) }}"

    - name: check if nvm is already installed
      ansible.builtin.stat:
        path: ~/.nvm
      register: basic_utils__nvm

    - name: setup nvm # noqa command-instead-of-module
      when: basic_utils__nvm.stat.exists is false
      ansible.builtin.shell: |
        curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/{{ nvm.nvm_version }}/install.sh | bash

    - name: add nvm to path for bash
      ansible.builtin.blockinfile:
        path: "~/.bashrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: add nvm to PATH"
        block: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

    - name: add nvm to path for zsh
      when: enable_zsh | default(false)
      ansible.builtin.blockinfile:
        path: "~/.zshrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: add nvm to PATH"
        block: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

    - name: add script to update nvm
      become: true
      ansible.builtin.copy:
        content: |
          #!/bin/sh
          set -e

          user="{{ user }}"
          nvm_version={{ nvm.nvm_version }}

          su "$user" -c "git -C /home/{{ user }}/.nvm fetch --tags"
          su "$user" -c "git -C /home/{{ user }}/.nvm reset --hard $nvm_version"
        dest: "{{ update_packages_script.dir }}/nvm-upgrade"
        mode: "u=rwx,go=rx"

    - name: add node_modules cleanup script
      become: true
      ansible.builtin.copy:
        content: |
          #!/bin/sh

          cleanup_node_modules() {
              root=$1
              for nm_dir in $(find $root \
                -type d -name node_modules \
                -atime "+21" \
                | grep -E -v '.*/node_modules/.*/node_modules(/|$)'); do
                du -h -d0 $nm_dir
                rm -rf $nm_dir
              done
          }

          cleanup_node_modules /home/{{ user }}/projects

        dest: "{{ cleanup_scripts.dir }}/cleanup-node-modules"
        mode: "u=rwx,go=rx"

    - name: add node versions cleanup script
      become: true
      ansible.builtin.copy:
        content: |
          #!/bin/sh

          root=/home/{{ user }}/.nvm/versions/node/
          for nm_dir in $(find $root \
            -mindepth 1 -maxdepth 1 \
            -type d \
            -atime "+200"); do
            du -h -d0 $nm_dir
            rm -rf $nm_dir
          done

        dest: "{{ cleanup_scripts.dir }}/cleanup-node-versions"
        mode: "u=rwx,go=rx"
