- name: Provision machines
  hosts: all
  vars:
    update_packages_script:
      dir: /usr/local/bin/update-script.d

  pre_tasks:
    - name: check that become-pass works
      become: true
      ansible.builtin.shell: test "$(whoami)" = "root" || exit 1
    - name: Get user
      tags: always
      ansible.builtin.command: whoami
      changed_when: false
      register: user_command
    - name: Get user id
      tags: always
      ansible.builtin.command: id -u
      changed_when: false
      register: user_id_command
    - name: Set user facts
      tags: always
      ansible.builtin.set_fact:
        user: "{{ user_command.stdout.strip() }}"
        user_id: "{{ user_id_command.stdout.strip() }}"
    - name: Set default shell to bash
      ansible.builtin.set_fact:
        default_shell: /bin/bash
    - name: Set default shell to zsh
      ansible.builtin.set_fact:
        default_shell: /bin/zsh
      when: enable_zsh | default(false)
      tags: basicsetup
    - name: Gather the package facts
      tags: always
      ansible.builtin.package_facts:
    - name: Add ansible ppa
      when: enable_ansible_ppa | default(false)
      tags: ansible-ppa
      become: true
      ansible.builtin.command:
        cmd: add-apt-repository -y ppa:ansible/ansible
        creates: "{{ ansible.apt_list_file }}"

  roles:
    - role: alacritty
      tags: alacritty

    - role: basicsetup
      tags: basicsetup

    - role: python
      tags: python

    - role: backup_burp
      tags: backup_burp

    - role: zsh
      tags: zsh
      when: enable_zsh | default(false)
    - role: update_packages_script
      tags: update_packages_script
    - role: homebrew
      tags: homebrew
      when: enable_homebrew | default(false)
    - role: ansible-role-customize-gnome
      tags: customize_gnome
      when: enable_customize_gnome | default(false)
      vars:
        gnome_extensions:
          - url: https://extensions.gnome.org/extension-data/sound-output-device-chooserkgshank.net.v43.shell-extension.zip
            id: 906
          - url: https://extensions.gnome.org/extension-data/wsmatrixmartin.zurowietz.de.v23.shell-extension.zip
            id: 1485
          - url: https://extensions.gnome.org/extension-data/unblanksun.wxggmail.com.v34.shell-extension.zip
            id: 1414
          - url: https://extensions.gnome.org/extension-data/tiling-assistantleleat-on-github.v48.shell-extension.zip
            id: 3733
          - url: https://extensions.gnome.org/extension-data/switcherlandau.fi.v41.shell-extension.zip
            id: 973
        customize_gnome__skip_restart_gnome_shell: customize_gnome__skip_restart_gnome_shell | default(false)
    - role: gnome
      tags: gnome
    - role: bash
      tags: bash
      when: enable_bash | default(false)
    - role: kubectl
      tags: kubectl
      when: enable_kubectl | default(false)
    - role: tmux
      tags: tmux
      when: enable_tmux | default(false)

    - role: git-tools
      tags: git
      when: enable_git_tools | default(false)
      vars:
        git_aliases: true
        git_rerere: true
        git_editor_nano: true
        git_user_name: "{{git.config.user_name | mandatory}}"
        git_user_email: "{{git.config.user_email | mandatory}}"

    - role: docker
      tags: docker
      when: docker.enable | default(false)

    - role: flatpak
      tags: flatpak

    - role: fluxcd
      tags: fluxcd

    - role: php_development
      tags: php_development

    - role: nvm
      tags: nvm

    - role: lazygit
      tags: lazygit

    - role: ollama
      tags: ollama

    - role: openwebui
      tags: openwebui

    - role: okular
      tags: okular
      when: enable_okular | default(false)

    - role: ansible-role-visual-studio-code
      tags: visual-studio-code
      when: enable_visual_studio_code | default(false)

    - role: basic_utils
      tags: basic_utils

    - role: hashicorp_vault_cli
      tags: hashicorp_vault_cli

    - role: nvim
      tags: nvim

    - role: motd
      tags: motd

    - role: displaylink_driver
      tags: displaylink_driver

    - role: snap
      tags: snap

    - role: ubuntu_desktop
      tags: ubuntu_desktop

    - role: vagrant
      tags: vagrant

    - role: vifm
      tags: vifm

    - role: vshn_emergency_credentials_receive
      tags: vshn_emergency_credentials_receive

    - role: vshn_tools
      tags: vshn_tools

    - role: zed
      tags: zed

    - role: fzf
      tags: fzf

    - role: sysctl
      tags: sysctl

    - role: ubuntu_cleanup
