- name: lazygit
  when: enable_lazygit | default(false)
  block:
    - name: set defaults for lazygit role
      ansible.builtin.set_fact:
        lazygit_defaults:
          lazygit_version: 0.58.0
          lazygit_checksum: 5c7c81884167cf38561c82704ec8783bcd199f484e6c63c781783f4f5a662a2a

    - name: set facts for lazygit role
      ansible.builtin.set_fact:
        lazygit: "{{ lazygit_defaults | combine((lazygit | default({})), recursive=true) }}"

    - name: install lazygit
      ansible.builtin.include_role:
        name: github_release_binary
      vars:
        url: "https://github.com/jesseduffield/lazygit/releases/download/v{{ lazygit.lazygit_version }}/lazygit_{{ lazygit.lazygit_version }}_Linux_x86_64.tar.gz"
        binary_name: lazygit
        binary_checksum: "{{ lazygit.lazygit_checksum }}"

    - name: install wl-clipboard
      become: true
      ansible.builtin.package:
        name: wl-clipboard
