- name: Install vagrant
  when: enable_vagrant | default(false)
  block:
    - name: add hashicorp apt repo
      ansible.builtin.include_role:
        name: hashicorp_apt_repo

    - name: install vagrant
      become: true
      ansible.builtin.apt:
        name:
          - vagrant
