- name: Setup python
  when: (extract(container=basic_utils, input='python', morekeys=['enabled']) | default(false)) or (enable_python | default(false))
  block:
    - name: set defaults for python role
      ansible.builtin.set_fact:
        python_defaults:
          venvs: []

    - name: set facts for python role
      ansible.builtin.set_fact:
        python: "{{ python_defaults | combine((python | default({})), recursive=true) }}"

    - name: Ensure python3 is installed
      become: true
      ansible.builtin.package:
        name:
          - python3
          - python3-pip
          - python3-venv

    - name: Add python3 to update-alternatives if it doesn't exist
      become: true
      ansible.builtin.command: |
        update-alternatives --install /usr/bin/python python /usr/bin/python3 1
      args:
        creates: /etc/alternatives/python # This checks if the alternative link exists
      register: python_alternative_added
      changed_when: python_alternative_added.rc == 0
      failed_when: python_alternative_added.rc != 0 and "alternative python already exists" not in python_alternative_added.stderr

    - name: Check current default python alternative
      become: true
      ansible.builtin.shell: |
        update-alternatives --query python | grep 'current link' | awk '{print $NF}'
      # noinspection YAMLIncompatibleTypes
      changed_when: false
      register: current_python_link

    - name: Set python3 as the default python alternative
      become: true
      ansible.builtin.command: |
        update-alternatives --set python /usr/bin/python3
      when: current_python_link.stdout != "/usr/bin/python3"
      register: python_default_set
      changed_when: python_default_set.rc == 0

    - name: setup pyenv dir
      when: basic_utils.enable_ssh_config_dir | default(false)
      ansible.builtin.file:
        path: "~/pyenv"
        state: directory
        mode: "u=rwx,go=rx"

    - name: Create Python virtual environments
      ansible.builtin.command: |
        python -m venv ~/pyenv/{{ item }}
      args:
        creates: "~/pyenv/{{ item }}/bin/activate"
      loop: "{{ extract(container=basic_utils, input='python', morekeys=['enabled']) | default([]) }}"
      loop_control:
        label: "Creating venv at {{ item }}"

    - name: Create Python virtual environments
      ansible.builtin.command: |
        python -m venv ~/pyenv/{{ item }}
      args:
        creates: "~/pyenv/{{ item }}/bin/activate"
      loop: "{{ python.venvs }}"
      loop_control:
        label: "Creating venv at {{ item }}"
