- name: install ollama
  when: enable_ollama | default(false)
  block:
    - name: ollama print var
      ansible.builtin.debug:
        var: ollama

    - name: set defaults for ollama role
      ansible.builtin.set_fact:
        ollama_defaults:
          ollama_version: 0.15.2
          model: qwen2.5:3b

    - name: set facts for ollama role
      ansible.builtin.set_fact:
        ollama: "{{ ollama_defaults | combine((ollama | default({})), recursive=true) }}"

    - name: Install ollama # noqa command-instead-of-module
      become: true
      ansible.builtin.shell:
        cmd: |
          curl -fsSL https://ollama.com/install.sh | OLLAMA_VERSION={{ ollama.ollama_version }} sh
        creates: /usr/local/bin/ollama

    - name: add script to update ollama
      become: true
      ansible.builtin.copy:
        content: |
          if [ "$(ollama --version)" != "ollama version is {{ ollama.ollama_version }}" ]; then
            curl -fsSL https://ollama.com/install.sh | OLLAMA_VERSION={{ ollama.ollama_version }} sh
          fi
        dest: "{{ update_packages_script.dir }}/ollama-upgrade"
        mode: "u=rwx,go=rx"

    - name: Add OLLAMA_VULKAN environment variable
      become: true
      ansible.builtin.lineinfile:
        path: "/etc/systemd/system/ollama.service"
        line: "{{ item.line }}"
        insertafter: '^Environment="PATH=.*"$'
        state: present
        backup: true
      register: ollama_systemd_changed
      with_items:
        - { line: 'Environment="OLLAMA_VULKAN=0"' }
        - { line: 'Environment="OLLAMA_CONTEXT_LENGTH=16000"' }
        - { line: 'Environment="OLLAMA_KEEP_ALIVE=1"' }

    - name: Daemon-reload and restart ollama service
      become: true
      when: ollama_systemd_changed.changed
      ansible.builtin.systemd_service:
        name: ollama.service
        daemon_reload: true
        state: restarted

    - name: create models directory
      become: true
      ansible.builtin.file:
        dest: /var/ollama/models
        state: directory
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: "u=rwx,go=rx"

    - name: create a model to map fully into ram
      ansible.builtin.copy:
        content: |
          FROM {{ ollama.model }}
          PARAMETER use_mmap false
        dest: "/var/ollama/models/{{ ollama.model | replace(':', '_') }}-mmap"
        mode: "u=rwx,go=rx"
      register: ollama_model_mmap_file

    - name: create model from file
      when: ollama_model_mmap_file.changed
      ansible.builtin.command: "ollama create {{ ollama.model }}-mmap -f {{ ollama_model_mmap_file.dest }}"

    - name: run the model
      when: ollama_model_mmap_file.changed
      ansible.builtin.command: ollama run {{ ollama.model }}-mmap
