- name: install flatpak
  become: true
  ansible.builtin.package:
    name: flatpak

- name: add flathub repository
  become: true
  ansible.builtin.command: |
    flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

- name: install flatpaks
  when: flatpaks is defined and flatpaks != None
  community.general.flatpak:
    name: "{{ flatpaks | default([]) }}"

- name: add update script
  become: true
  ansible.builtin.copy:
    src: flatpak-upgrade.sh
    dest: "{{ update_packages_script.dir }}/flatpak-upgrade"
    mode: "u=rwx,go=rx"
