- name: vshn-tools
  when: enable_vshn_tools | default(false)
  block:
    - name: vshn_tools print var
      ansible.builtin.debug:
        var: vshn_tools

    - name: set defaults for vshn_tools role
      ansible.builtin.set_fact:
        vshn_tools_defaults:
          # renovate: datasource=github-releases depName=vshn/appcat-cli
          appcat_cli_version: "0.5.0"
          appcat_cli_checksum: 2141bf312b56ff7baf7727a98bbe0488dab7769162fb88e63255209e3e8140f1
          # renovate: datasource=github-releases depName=vshn/k8ify
          k8ify_version: "2.5.0"
          k8ify_checksum: b411a1398f4eb2b10d19624f1e51a21c260503e4225e865332e60e97348f5de8

    - name: set facts for vshn_tools role
      ansible.builtin.set_fact:
        vshn_tools: "{{ vshn_tools_defaults | combine((vshn_tools | default({})), recursive=true) }}"

    - name: ensure ~/bin directory exists
      ansible.builtin.file:
        path: "~/bin"
        state: directory
        mode: "u=rwx,go=rx"

    - name: install appcat-cli
      ansible.builtin.include_role:
        name: github_release_binary
      vars:
        url: "https://github.com/vshn/appcat-cli/releases/download/v{{ vshn_tools.appcat_cli_version }}/appcat-cli_{{ vshn_tools.appcat_cli_version }}_linux_amd64.tar.gz"
        binary_name: appcat-cli
        binary_checksum: "{{ vshn_tools.appcat_cli_checksum }}"

    - name: install k8ify
      ansible.builtin.include_role:
        name: github_release_binary
      vars:
        url: "https://github.com/vshn/k8ify/releases/download/{{ vshn_tools.k8ify_version }}/k8ify_{{ vshn_tools.k8ify_version }}_linux_amd64.tar.gz"
        binary_name: k8ify
        binary_checksum: "{{ vshn_tools.k8ify_checksum }}"

    - name: setup alias for commodore
      ansible.builtin.blockinfile:
        path: "~/.bash_aliases"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: commodore alias"
        block: |
          alias commodore='docker run \
              --rm \
              --user="${UID}" \
              --volume "${PWD}:/app/data" \
              --workdir /app/data \
              projectsyn/commodore:${COMMODORE_VERSION:=v1.29.0}'
