- name: install zed
  community.general.flatpak:
    name:
      - dev.zed.Zed
    state: "absent"

- name: Remove a symbolic link for zed
  ansible.builtin.file:
    dest: "/home/{{ user }}/bin/zed"
    state: absent

- name: setup zed
  when: enable_zed | default(false)
  block:
    - name: zed print var
      ansible.builtin.debug:
        var: zed

    - name: set defaults for zed role
      ansible.builtin.set_fact:
        zed_defaults:
          enable_helm_support: true
          enable_memory_monitor: true
          memory_monitor_limit_gb: 10
          memory_monitor_cron_frequency: "*/5 * * * *"
          zed_config:
            {
              "agent":
                {
                  "default_model":
                    { "provider": "ollama", "model": "mistral:7b-mmap" },
                },
              "features": { "edit_prediction_provider": "none" },
              "auto_install_extensions":
                {
                  "ansible": true,
                  "docker-compose": true,
                  "dockerfile": true,
                  "helm": true,
                  "yaml": true,
                  "html": true,
                },
              "autosave": { "after_delay": { "milliseconds": 100 } },
              "base_keymap": "JetBrains",
              "buffer_font_size": 16,
              "drag_and_drop_selection": { "enabled": false },
              "edit_predictions":
                {
                  "mode": "subtle",
                  "copilot":
                    {
                      "proxy": null,
                      "proxy_no_verify": null,
                      "enterprise_uri": null,
                    },
                  "enabled_in_text_threads": false,
                },
              "file_types":
                {
                  "Ansible":
                    [
                      "**.ansible.yml",
                      "**.ansible.yaml",
                      "**/defaults/*.yml",
                      "**/defaults/*.yaml",
                      "**/meta/*.yml",
                      "**/meta/*.yaml",
                      "**/tasks/*.yml",
                      "**/tasks/*.yaml",
                      "**/handlers/*.yml",
                      "**/handlers/*.yaml",
                      "**/group_vars/*.yml",
                      "**/group_vars/*.yaml",
                      "**/playbooks/*.yaml",
                      "**/playbooks/*.yml",
                      "**playbook*.yaml",
                      "**playbook*.yml",
                    ],
                  "Helm":
                    [
                      "**/templates/**/*.tpl",
                      "**/templates/**/*.yaml",
                      "**/templates/**/*.yml",
                      "**/helmfile.d/**/*.yaml",
                      "**/helmfile.d/**/*.yml",
                      "**/values*.yaml",
                    ],
                },
              "languages": { "YAML": { "format_on_save": "off" } },
              "lsp":
                {
                  "helm_ls":
                    {
                      "settings":
                        {
                          "yamlls":
                            {
                              "path": "/home/{{ user }}/.local/share/zed/languages/yaml-language-server/node_modules/.bin/yaml-language-server",
                            },
                        },
                    },
                  "yaml-language-server":
                    {
                      "settings":
                        { "yaml": { "format": { "singleQuote": true } } },
                    },
                },
              "restore_on_startup": "none",
              "show_edit_predictions": true,
              "telemetry": { "metrics": false, "diagnostics": false },
              "theme":
                { "mode": "system", "light": "One Dark", "dark": "One Dark" },
              "ui_font_size": 16,
            }
          zed_keymap: [{ "context": "Editor", "bindings": { "ctrl-k": null } }]

    - name: set facts for zed role
      ansible.builtin.set_fact:
        zed: "{{ zed_defaults | combine((zed | default({})), recursive=true) }}"

    - name: install zed # noqa command-instead-of-module
      ansible.builtin.shell:
        cmd: curl -f https://raw.githubusercontent.com/zed-industries/zed/refs/tags/v0.204.5/script/install.sh | sh
        creates: ~/.local/bin/zed

    - name: Create a symbolic link for zed
      ansible.builtin.file:
        src: "~/.local/bin/zed"
        dest: "~/bin/zed"
        state: link

    - name: provision zed config
      ansible.builtin.copy:
        content: |
          {{ zed.zed_config | to_nice_json }}
        dest: "/home/{{ user }}/.config/zed/settings.json"
        mode: "u=rwx,go=rx"

    - name: provision zed keymap
      ansible.builtin.copy:
        content: |
          {{ zed.zed_keymap | to_nice_json }}
        dest: "/home/{{ user }}/.config/zed/keymap.json"
        mode: "u=rwx,go=rx"

    - name: add launch zed script
      ansible.builtin.copy:
        content: |
          #!/usr/bin/env zsh

          ZED_ENVIRONMENT=cli
          ZED_FORCE_CLI_MODE=
          ZED_TERM=true

          source /home/{{ user }}/.zshrc
          exec zed "$@"
        dest: "~/bin/launch-zed-with-env"
        mode: "ug=rwx,o=rx"

    - name: change zed desktop file to use environment
      ansible.builtin.copy:
        content: |
          [Desktop Entry]
          Version=1.0
          Type=Application
          Name=Zed
          GenericName=Text Editor
          Comment=A high-performance, multiplayer code editor.
          StartupNotify=true
          Terminal=true
          Exec=/home/{{ user }}/bin/launch-zed-with-env %U
          Icon=/home/{{ user }}/.local/zed.app/share/icons/hicolor/512x512/apps/zed.png
          Categories=Utility;TextEditor;Development;IDE;
          Keywords=zed;
          MimeType=text/plain;application/x-zerosize;x-scheme-handler/zed;
          Actions=NewWorkspace;
          X-Desktop-File-Install-Version=0.28

          [Desktop Action NewWorkspace]
          Exec=/home/{{ user }}/bin/launch-zed-with-env --new %U
          Name=Open a new workspace

        dest: "~/.local/share/applications/dev.zed.Zed.desktop"
        mode: "ug=rw,o=r"

    - name: Ensure Zed memory monitor is absent
      block:
        - name: Remove the Zed memory monitoring script
          become: true
          ansible.builtin.file:
            path: "/usr/local/bin/monitor-zed-memory"
            state: absent

        - name: Remove the cron job for Zed memory monitoring
          become: true
          ansible.builtin.cron:
            name: "Monitor Zed memory and kill if over {{ zed.memory_monitor_limit_gb }}GB"
            user: "{{ user }}"
            state: absent

        - name: Remove drop in dir for flatpak-system-helper
          become: true
          ansible.builtin.file:
            path: "/etc/systemd/system/flatpak-system-helper.service.d"
            state: absent
          register: zed_resource_limits_file

        - name: Reload daemons # noqa command-instead-of-module
          become: true
          when: zed_resource_limits_file.changed
          ansible.builtin.command: systemctl daemon-reload

    - name: install helm language server
      when: zed.enable_helm_support | default(false)
      ansible.builtin.command:
        cmd: |
          {{ homebrew_path }}/brew install helm-ls
        creates: "/home/linuxbrew/.linuxbrew/Homebrew/Cellar/helm-ls"
