- name: "set defaults for kubectl role"
  ansible.builtin.set_fact:
    kubectl_defaults:
      contex_management_part: |
        function ktx() {
          if [ $# -eq 0 ]; then
             kubectl config get-contexts
             return
          fi
          cat ${shell_tmp_dir}/.kube/config | yq '.current-context="'$1'"' | cat > ${shell_tmp_dir}/.kube/config
        }

        KUBECONFIG="$HOME/.kube/config.d/empty"
        for file in $(find $HOME/.kube/config.d -type f); do
          KUBECONFIG="$KUBECONFIG:$file"
        done

        shell_tmp_dir=$(mktemp -d)
        mkdir ${shell_tmp_dir}/.kube
        yq eval -n ' .apiVersion="v1" | .current-context="" | .contexts=[] | .users=[] | .clusters=[] ' | cat  > ${shell_tmp_dir}/.kube/config
        export KUBECONFIG="$KUBECONFIG:${shell_tmp_dir}/.kube/config"
        # azure-cli modifies the first file it finds in $KUBECONFIG
        export KUBECONFIG="${shell_tmp_dir}/.kube/config:$KUBECONFIG"

- name: "set facts for kubectl role"
  ansible.builtin.set_fact:
    kubectl: "{{ kubectl_defaults | combine((kubectl | default({})), recursive=true) }}"

- name: kubectl print var
  ansible.builtin.debug:
    var: kubectl

- name: Install kubectl and helm
  become: true
  community.general.snap:
    name:
      - kubectl
      - helm
    classic: true

- name: Install yq
  become: true
  community.general.snap:
    name:
      - yq

- name: Source kubectl tools bash
  ansible.builtin.blockinfile:
    path: "~/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: kubectl context"
    block: "{{ kubectl.contex_management_part }}"

- name: Source kubectl tools zsh
  when: enable_zsh | default(false)
  ansible.builtin.blockinfile:
    path: "~/.zshrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: kubectl context"
    block: "{{ kubectl.contex_management_part }}"

- name: Add kubectl completion for alias for bash
  ansible.builtin.blockinfile:
    path: "~/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: kubectl completion"
    block: |
      source <(kubectl completion bash)
      complete -F __start_kubectl k

- name: Add kubectl completion for alias for zsh
  when: enable_zsh | default(false)
  ansible.builtin.blockinfile:
    path: "~/.zshrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: kubectl completion"
    block: |
      source <(kubectl completion zsh)
      complete -F __start_kubectl k
      [[ $commands[kubectl] ]] && source <(kubectl completion zsh)

- name: Add bash aliases
  ansible.builtin.lineinfile:
    dest: "~/.bash_aliases"
    line: "{{ item.line }}"
    regexp: "{{ item.regexp }}"
    state: present
    insertafter: EOF
    create: true
    mode: "u+rw"
  with_items:
    - { regexp: "^alias k=", line: "alias k=kubectl" }
    - { regexp: "^alias ka=", line: 'alias ka=''kubectl --as "system:admin"''' }
    - {
        regexp: "^alias kn=",
        line: 'alias kn=''f() { [ "$1" ] && kubectl config set-context --current --namespace $1 || kubectl config view --minify | grep namespace | cut -d" " -f6 ; } ; f''',
      }
    - {
        regexp: "^alias helma=",
        line: 'alias helma=''helm --kube-as-user "system:admin"''',
      }
    - {
        regexp: "^alias kgworld=",
        line: 'alias kgworld=''kubectl get $(kubectl api-resources --verbs=list --namespaced -o name | paste -sd ",")''',
      }
    - {
        regexp: "^alias kagworld=",
        line: 'alias kagworld=''kubectl --as "system:admin" get $(kubectl api-resources --verbs=list --namespaced -o name | paste -sd ",")''',
      }

- name: install k9s
  ansible.builtin.command:
    cmd: |
      ~/bin/brew install k9s
    creates: "{{ homebrew_path }}/k9s"

- name: Add k9s aliases
  ansible.builtin.lineinfile:
    dest: "~/.bash_aliases"
    line: "{{ item.line }}"
    regexp: "{{ item.regexp }}"
    state: present
    insertafter: EOF
    create: true
    mode: "u+rw"
  with_items:
    - { regexp: "^alias k9sa=", line: 'alias k9sa=''k9s --as "system:admin"''' }

- name: install oidc_plugin
  when: kubectl.enable_oidc_plugin | default(false)
  ansible.builtin.command:
    cmd: |
      ~/bin/brew install kubelogin
    creates: "{{ homebrew_path }}/kubectl-oidc_login"

- name: install kubeconform
  ansible.builtin.command:
    cmd: |
      ~/bin/brew install kubeconform
    creates: "{{ homebrew_path }}/kubeconform"

- name: install kustomize
  ansible.builtin.command:
    cmd: |
      ~/bin/brew install kustomize
    creates: "{{ homebrew_path }}/kustomize"

- name: install kubeseal
  ansible.builtin.command:
    cmd: |
      ~/bin/brew install kubeseal
    creates: "{{ homebrew_path }}/kubeseal"

- name: install helmfile
  ansible.builtin.command:
    cmd: |
      ~/bin/brew install helmfile
    creates: "{{ homebrew_path }}/helmfile"

- name: install helm-chartsnap
  block:
    - name: set chartsnap facts
      ansible.builtin.set_fact:
        kubectl_helm_chartsnap_path: ~/.local/share/helm/plugins/helm-chartsnap/bin/chartsnap
        kubectl_helm_chartsnap_checksum: 3891bacb914c3f17f39c405682358f6c609720bd00387723723929c1053e8952

    - name: try to get checksum of chartsnap
      ansible.builtin.stat:
        path: "{{ kubectl_helm_chartsnap_path }}"
        checksum_algorithm: sha256
      register: kubectl_helm_chartsnap_file_stats

    - name: Print current checksum
      when: "not kubectl_helm_chartsnap_file_stats.stat.exists or kubectl_helm_chartsnap_file_stats.stat.checksum != kubectl_helm_chartsnap_checksum"
      ansible.builtin.debug:
        var: kubectl_helm_chartsnap_file_stats.stat.checksum

    - name: install helm-chartsnap
      when: "not kubectl_helm_chartsnap_file_stats.stat.exists or kubectl_helm_chartsnap_file_stats.stat.checksum != kubectl_helm_chartsnap_checksum"
      ansible.builtin.shell: |
        helm plugin uninstall chartsnap || true
        helm plugin install --version 0.6.0 https://github.com/jlandowner/helm-chartsnap --verify=false

- name: install helm-diff
  block:
    - name: set helm-diff facts
      ansible.builtin.set_fact:
        kubectl_helm_diff_path: ~/.local/share/helm/plugins/helm-diff/bin/diff
        kubectl_helm_diff_checksum: e3800f74f6271ded023fdf4cee56f8b314bbef3c20d360625610031349f4b63c

    - name: try to get checksum of helm-diff
      ansible.builtin.stat:
        path: "{{ kubectl_helm_diff_path }}"
        checksum_algorithm: sha256
      register: kubectl_helm_diff_file_stats

    - name: Print current checksum
      when: "not kubectl_helm_diff_file_stats.stat.exists or kubectl_helm_diff_file_stats.stat.checksum != kubectl_helm_diff_checksum"
      ansible.builtin.debug:
        var: kubectl_helm_diff_file_stats.stat.checksum

    - name: install helm-diff
      when: "not kubectl_helm_diff_file_stats.stat.exists or kubectl_helm_diff_file_stats.stat.checksum != kubectl_helm_diff_checksum"
      ansible.builtin.shell: |
        helm plugin uninstall diff || true
        helm plugin install --version 3.12.5 https://github.com/databus23/helm-diff --verify=false

- name: install kubectl-neat
  ansible.builtin.include_role:
    name: github_release_binary
  vars:
    url: "https://github.com/itaysk/kubectl-neat/releases/download/v2.0.4/kubectl-neat_linux_amd64.tar.gz"
    binary_name: kubectl-neat
    binary_checksum: "8dc3086fa8e7f5390f35a0b257566af478575ae3cc0d5b4614fbebbee5f35352"

- name: install kubectl-capacity
  ansible.builtin.include_role:
    name: github_release_binary
  vars:
    url: "https://github.com/robscott/kube-capacity/releases/download/v0.8.0/kube-capacity_v0.8.0_linux_x86_64.tar.gz"
    binary_name: kube-capacity
    binary_checksum: "c4e49762110584b2efbf5d4b0c69f549ef86275ac2ee5343a99e7522d3b38ae8"

- name: install kubectl-modify-secret
  ansible.builtin.include_role:
    name: github_release_binary
  vars:
    url: "https://github.com/rajatjindal/kubectl-modify-secret/releases/download/v0.0.47/kubectl-modify-secret_v0.0.47_linux_amd64.tar.gz"
    binary_name: kubectl-modify_secret
    binary_checksum: "be5a7fd276a35da9dfb1fd558a44245c111a787dd05d42d80ca9d6ece02107e5"
