- name: install fzf
  when: enable_fzf | default(false)
  block:
    - name: install fzf package
      ansible.builtin.command:
        cmd: |
          ~/bin/brew install fzf
        creates: "{{ homebrew_path }}/fzf"

    - name: add fzf completion to bash
      ansible.builtin.blockinfile:
        path: "~/.bashrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: add fzf completion"
        block: |
          FZF_DEFAULT_OPTS="--tmux"
          eval $({{ homebrew_path }}/fzf --bash)

    - name: add fzf completion to zsh
      when: enable_zsh | default(false)
      ansible.builtin.blockinfile:
        path: "~/.zshrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: add fzf completion"
        block: |
          FZF_DEFAULT_OPTS="--tmux"
          source <(fzf --zsh)

    - name: Add aliases
      ansible.builtin.lineinfile:
        dest: "~/.bash_aliases"
        line: "{{ item.line }}"
        regexp: "{{ item.regexp }}"
        state: present
        insertafter: EOF
        create: true
        mode: "u+rw"
      with_items:
        - {
            regexp: "^alias goto=",
            line: "alias goto='cd $(find ~ -type d | fzf)'",
          }
