- name: basic_utils print var
  ansible.builtin.debug:
    var: basic_utils

- name: "set defaults for basic_utils role"
  ansible.builtin.set_fact:
    basic_utils_defaults:
      ssh_key:
        filename: "id_ed25519"
      ssh_agent: {}
      gcr_ssh_agent:
        socket: /run/user/{{ user_id }}/gcr/ssh
      python:
        venvs: []

- name: "set facts for basic_utils role"
  ansible.builtin.set_fact:
    basic_utils: "{{ basic_utils_defaults | combine((basic_utils | default({})), recursive=true) }}"

- name: basic_utils print var
  ansible.builtin.debug:
    var: basic_utils

- name: Setup user bin dir
  ansible.builtin.file:
    path: "~/bin"
    state: directory
    mode: "u=rwx,go=rx"

- name: source user bin dir in bash
  ansible.builtin.blockinfile:
    path: "~/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: bin of user"
    block: |
      export PATH="/home/{{ user }}/bin:$PATH"

- name: source user bin dir in zsh
  when: enable_zsh | default(false)
  ansible.builtin.blockinfile:
    path: "~/.zshrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: bin of user"
    block: |
      export PATH="/home/{{ user }}/bin:$PATH"

- name: setup dirvenv
  when: basic_utils.enable_direnv | default(false)
  block:
    - name: install direnv package
      become: true
      ansible.builtin.apt:
        name:
          - direnv

    - name: source direnv bash
      ansible.builtin.blockinfile:
        path: "~/.bashrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: source direnv"
        block: |
          eval "$(direnv hook bash)"

    - name: source direnv zsh
      when: enable_zsh | default(false)
      ansible.builtin.blockinfile:
        path: "~/.zshrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: source direnv"
        block: |
          eval "$(direnv hook zsh)"

- name: install keepassxc flatpak
  when: basic_utils.enable_keepassxc | default(false)
  block:
    - name: Install KeePassXC via flatpak
      community.general.flatpak:
        name:
          - org.keepassxc.KeePassXC

    - name: Modify Desktop file
      become: true
      ansible.builtin.lineinfile:
        dest: "/var/lib/flatpak/exports/share/applications/org.keepassxc.KeePassXC.desktop"
        line: "{{ item.line }}"
        regexp: "{{ item.regexp }}"
        state: present
        insertafter: EOF
        create: true
        mode: "u+rw"
      with_items:
        - {
            regexp: "^Exec=",
            line: "Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=keepassxc --file-forwarding org.keepassxc.KeePassXC --platform xcb @@ %f @@",
          }

    - name: Add ssh agent integration
      when: basic_utils.gcr_ssh_agent.enable | default(false)
      block:
        - name: check if override already exists
          ansible.builtin.command: flatpak override org.keepassxc.KeePassXC --show
          register: basic_utils_keepass_flatpak_overrides
          changed_when: false

        - name: remove ssh-socket if there because this did not work
          when: "'sockets=ssh-auth;' in basic_utils_keepass_flatpak_overrides.stdout"
          become: true
          ansible.builtin.command: flatpak override org.keepassxc.KeePassXC --nosocket=ssh-auth

        - name: generate ssh-socket filessystem flatpak entry
          ansible.builtin.set_fact:
            basic_utils_keepass_flatpak_ssh_socket_filesystem_override: "filesystems={{ basic_utils.gcr_ssh_agent.socket }};"

        - name: give flatpak app access to gcr-ssh-agent
          when: "not basic_utils_keepass_flatpak_ssh_socket_filesystem_override in basic_utils_keepass_flatpak_overrides.stdout"
          become: true
          ansible.builtin.command: "flatpak override org.keepassxc.KeePassXC --filesystem={{ basic_utils.gcr_ssh_agent.socket }}"

        - name: configure auto type
          ansible.builtin.blockinfile:
            path: "~/.var/app/org.keepassxc.KeePassXC/config/keepassxc/keepassxc.ini"
            marker: "# {mark} ANSIBLE MANAGED BLOCK: configure auto type"
            insertafter: ^[General]
            block: |
              GlobalAutoTypeKey=65
              GlobalAutoTypeModifiers=201326592

        - name: add SSHAgent section to keepassxc.ini in cache
          ansible.builtin.lineinfile:
            dest: ~/.var/app/org.keepassxc.KeePassXC/cache/keepassxc/keepassxc.ini
            line: "{{ item.line }}"
            regexp: "{{ item.regexp }}"
            state: present
            insertafter: EOF
            create: true
            mode: "u=rwx,go=rx"
          with_items:
            - { regexp: "^\\[SSHAgent\\]", line: "[SSHAgent]" }

        - name: configure ssh-agent sock
          ansible.builtin.blockinfile:
            path: "~/.var/app/org.keepassxc.KeePassXC/cache/keepassxc/keepassxc.ini"
            marker: "# {mark} ANSIBLE MANAGED BLOCK: configure ssh-agent"
            insertafter: ^\[SSHAgent\]
            block: |
              AuthSockOverride={{ basic_utils.gcr_ssh_agent.socket }}

- name: install signal snap
  when: basic_utils.enable_signal | default(false)
  become: true
  community.general.snap:
    name:
      - signal-desktop

- name: setup ssh config dir
  when: basic_utils.enable_ssh_config_dir | default(false)
  ansible.builtin.file:
    path: "~/.ssh/config.d"
    state: directory
    mode: "u=rwx,go="

- name: add ssh-config
  when: basic_utils.enable_ssh_config_dir | default(false)
  ansible.builtin.template:
    src: "ssh-config.j2"
    dest: "~/.ssh/config"
    mode: "u=rw,go="

- name: setup ssh-agent
  when: (basic_utils.ssh_key.enable | default(false)) and (basic_utils.ssh_agent.enable | default(false))
  block:
    - name: setup ssh-agent for bash
      ansible.builtin.blockinfile:
        path: "~/.bashrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: start ssh agent"
        block: |
          if [ -z "$(pgrep ssh-agent)" ]; then
            rm -rf /tmp/ssh-*
            eval $(ssh-agent -s) > /dev/null
          fi
          export SSH_AGENT_PID=$(pgrep ssh-agent)
          export SSH_AUTH_SOCK=$(find /tmp/ssh-* -name 'agent.*')

          if [[ ! $(ssh-add -l | grep "{{ basic_utils.ssh_key.comment }}") ]]; then
            ssh_key_path="$HOME/.ssh/{{ basic_utils.ssh_key.filename }}"
            if [[ -f "$ssh_key_path" ]]; then
              ssh-add "$ssh_key_path"
            fi
          fi

    - name: setup ssh-agent for zsh
      when: enable_zsh | default(false)
      ansible.builtin.blockinfile:
        path: "~/.zshrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: start ssh agent"
        block: |
          if [ -z "$(pgrep ssh-agent)" ]; then
            rm -rf /tmp/ssh-*
            eval $(ssh-agent -s) > /dev/null
          fi
          export SSH_AGENT_PID=$(pgrep ssh-agent)
          export SSH_AUTH_SOCK=$(find /tmp/ssh-* -name 'agent.*')

          if [[ ! $(ssh-add -l | grep "{{ basic_utils.ssh_key.comment }}") ]]; then
            ssh_key_path="$HOME/.ssh/{{ basic_utils.ssh_key.filename }}"
            if [[ -f "$ssh_key_path" ]]; then
              ssh-add "$ssh_key_path"
            fi
          fi

- name: setup gcr-ssh-agent
  when: basic_utils.gcr_ssh_agent.enable | default(false)
  block:
    - name: check if ssh-key already exists
      ansible.builtin.stat:
        path: "~/.ssh/{{ basic_utils.ssh_key.filename }}"
      register: ssh_key_exists

    - name: create ssh-key and add it to ssh-agent on login
      when: ssh_key_exists.stat.exists is false
      block:
        - name: install pwgen
          become: true
          ansible.builtin.apt:
            name:
              - pwgen
              - libsecret-tools

        - name: generate password
          ansible.builtin.command: pwgen 32 1
          register: basic_utils_ssh_key_password
          no_log: true

        - name: create ssh-key
          ansible.builtin.command: |
            ssh-keygen -f ~/.ssh/{{ basic_utils.ssh_key.filename }} -C "{{ basic_utils.ssh_key.comment }}" -N "{{ basic_utils_ssh_key_password.stdout }}"
          no_log: true

        - name: add ssh-key to ssh-agent on login
          ansible.builtin.command: |
            secret-tool store --label="Unlock ssh key {{ basic_utils.ssh_key.filename }}" unique ssh-store:/home/{{ user }}/.ssh/{{ basic_utils.ssh_key.filename }}
          args:
            stdin: "{{ basic_utils_ssh_key_password.stdout }}"
            stdin_add_newline: false
          no_log: true

    - name: setup gcr-ssh-agent for bash
      ansible.builtin.blockinfile:
        path: "~/.bashrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: start gcr ssh agent"
        block: |
          export SSH_AUTH_SOCK={{ basic_utils.gcr_ssh_agent.socket }}

          if [[ ! $(ssh-add -l | grep "{{ basic_utils.ssh_key.comment }}") ]]; then
            ssh_key_path="$HOME/.ssh/{{ basic_utils.ssh_key.filename }}"
            if [[ -f "$ssh_key_path" ]]; then
              ssh-add "$ssh_key_path"
            fi
          fi

    - name: setup gcr-ssh-agent for zsh
      when: enable_zsh | default(false)
      ansible.builtin.blockinfile:
        path: "~/.zshrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: start gcr ssh agent"
        block: |
          export SSH_AUTH_SOCK={{ basic_utils.gcr_ssh_agent.socket }}

          if [[ ! $(ssh-add -l | grep "{{ basic_utils.ssh_key.comment }}") ]]; then
            ssh_key_path="$HOME/.ssh/{{ basic_utils.ssh_key.filename }}"
            if [[ -f "$ssh_key_path" ]]; then
              ssh-add "$ssh_key_path"
            fi
          fi

- name: check if sdkman is installed
  when: basic_utils.enable_java | default(false)
  ansible.builtin.stat:
    path: ~/.sdkman
  register: basic_utils__sdkman

- name: install sdkman # noqa command-instead-of-module
  when: (basic_utils.enable_java | default(false)) and (basic_utils__sdkman.stat.exists is false)
  ansible.builtin.shell: |
    curl -s https://get.sdkman.io | bash

- name: add sdkman to .bashrc
  when: basic_utils.enable_java | default(false)
  ansible.builtin.blockinfile:
    path: "~/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: sdkman-init"
    block: |
      export SDKMAN_DIR="$HOME/.sdkman"
      [[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

- name: add sdkman to .zshrc
  when: basic_utils.enable_java | default(false)
  ansible.builtin.blockinfile:
    path: "~/.zshrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: sdkman-init"
    block: |
      export SDKMAN_DIR="$HOME/.sdkman"
      [[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

- name: install sdkman tools
  when: basic_utils.enable_java | default(false)
  ansible.builtin.shell: |
    bash -c "source ~/.sdkman/bin/sdkman-init.sh; sdk install {{ item }}"
  loop: "{{ basic_utils.sdkman }}"

- name: setup cinc-client alias
  when: basic_utils.enable_cinc | default(false)
  ansible.builtin.blockinfile:
    path: "~/.bash_aliases"
    marker: "# {mark} ANSIBLE MANAGED BLOCK: cinc-client alias"
    block: |
      alias cinc-client='docker run --rm -it \
      {% for arg in basic_utils.cinc.add_args %}
      {{ arg }} \
      {% endfor %}
      -v $(pwd):/data \
      {{ basic_utils.cinc.image }}:${CHEF_CLIENT_VERSION:-{{ basic_utils.cinc.client_version }}} knife'

- name: flutter development
  when: basic_utils.enable_flutter | default(false)
  block:
    - name: check if fvm is installed
      ansible.builtin.stat:
        path: ~/.fvm_flutter
      register: basic_utils__fvm

    - name: setup fvm # noqa command-instead-of-module
      when: basic_utils__fvm.stat.exists is false
      become: true
      ansible.builtin.shell: |
        curl -fsSL https://raw.githubusercontent.com/leoafarias/fvm/refs/tags/3.2.1/scripts/install.sh |  bash -s -- 3.2.1
        rm -rf /usr/local/bin/fvm
        mv /root/.fvm_flutter /home/{{ user }}/.fvm_flutter
        chown -R {{ user }}:{{ user }} /home/{{ user }}/.fvm_flutter

    - name: add fvm to path for bash
      ansible.builtin.blockinfile:
        path: "~/.bashrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: add fvm to PATH"
        block: |
          export PATH="/home/{{ user }}/.fvm_flutter/bin:$PATH"

    - name: add fvm to path for zsh
      when: enable_zsh | default(false)
      ansible.builtin.blockinfile:
        path: "~/.zshrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: add fvm to PATH"
        block: |
          export PATH="/home/{{ user }}/.fvm_flutter/bin:$PATH"

    - name: install android studio
      become: true
      community.general.snap:
        name:
          - android-studio
        classic: true

    - name: Add docker user to kvm group
      become: true
      ansible.builtin.user:
        name: "{{ user }}"
        append: true
        groups: kvm

    - name: Setup user bin dir
      ansible.builtin.file:
        path: "~/bin"
        state: directory
        mode: "u=rwx,go=rx"

    - name: source user bin dir for bash
      ansible.builtin.blockinfile:
        path: "~/.bashrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: bin of user"
        block: |
          export PATH="/home/{{ user }}/bin:$PATH"

    - name: source user bin dir for zsh
      when: enable_zsh | default(false)
      ansible.builtin.blockinfile:
        path: "~/.zshrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: bin of user"
        block: |
          export PATH="/home/{{ user }}/bin:$PATH"

    - name: add dart proxy
      ansible.builtin.template:
        src: "dart-proxy.j2"
        dest: "~/bin/dart"
        mode: "u=rwx,go=rx"

    - name: add flutter proxy
      ansible.builtin.template:
        src: "flutter-proxy.j2"
        dest: "~/bin/flutter"
        mode: "u=rwx,go=rx"

- name: remove ghostty
  when: basic_utils.remove_ghostty | default(true)
  block:
    - name: install ghostty snap
      become: true
      community.general.snap:
        name:
          - ghostty
        state: absent

    - name: create ghostty config dir
      ansible.builtin.file:
        path: "~/.config/ghostty/"
        state: absent
        mode: "u=rwx,go=rx"

- name: nvm
  when: basic_utils.enable_nvm | default(false)
  block:
    - name: check if nvm is already installed
      ansible.builtin.stat:
        path: ~/.nvm
      register: basic_utils__nvm

    - name: setup nvm # noqa command-instead-of-module
      when: basic_utils__nvm.stat.exists is false
      ansible.builtin.shell: |
        curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.0/install.sh | bash

    - name: add nvm to path for bash
      ansible.builtin.blockinfile:
        path: "~/.bashrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: add nvm to PATH"
        block: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

    - name: add nvm to path for zsh
      when: enable_zsh | default(false)
      ansible.builtin.blockinfile:
        path: "~/.zshrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: add nvm to PATH"
        block: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

    - name: add script to update nvm
      become: true
      ansible.builtin.copy:
        content: |
          #!/bin/sh
          set -e

          user="{{ user }}"
          nvm_version=v0.40.3

          su "$user" -c "git -C /home/{{ user }}/.nvm fetch --tags"
          su "$user" -c "git -C /home/{{ user }}/.nvm reset --hard $nvm_version"
        dest: "{{ update_packages_script.dir }}/nvm-upgrade"
        mode: "u=rwx,go=rx"

- name: enable openvpn file import for network manager
  when: basic_utils.enable_openvpn_config_import_network_manager | default(false)
  become: true
  ansible.builtin.apt:
    name:
      - network-manager-openvpn
      - network-manager-openvpn-gnome

- name: install rambox
  when: basic_utils.enable_rambox | default(false)
  block:
    - name: install the app
      become: true
      community.general.snap:
        name:
          - rambox

    - name: Check if rambox:camera connection exists
      ansible.builtin.shell: |
        snap connections | grep rambox
      register: rambox_connections
      changed_when: false

    - name: Connect rambox:camera if not already connected
      become: true
      ansible.builtin.command: snap connect rambox:camera
      when: "'rambox:camera' not in rambox_connections.stdout"

    - name: Connect rambox:audio-record if not already connected
      become: true
      ansible.builtin.command: snap connect rambox:audio-record
      when: "'rambox:audio-record' not in rambox_connections.stdout"

- name: install zoom flatpak
  when: basic_utils.enable_zoom | default(false)
  community.general.flatpak:
    name:
      - us.zoom.Zoom

# see https://github.com/go-nv/goenv
- name: setup go
  when: basic_utils.enable_go | default(false)
  block:
    - name: install goenv
      ansible.builtin.command:
        cmd: |
          ~/bin/brew install goenv
        creates: "{{ homebrew_path }}/goenv"

    - name: Setup goenv for bash
      ansible.builtin.blockinfile:
        path: "~/.bashrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: add goenv"
        block: |
          export GOENV_ROOT="$HOME/.goenv
          eval "$({{ homebrew_path }}/goenv init -)"

    - name: Setup goenv for zsh
      when: enable_zsh | default(false)
      ansible.builtin.blockinfile:
        path: "~/.zshrc"
        marker: "# {mark} ANSIBLE MANAGED BLOCK: add goenv"
        block: |
          export GOENV_ROOT="$HOME/.goenv"
          export PATH="$GOENV_ROOT/bin:$PATH"
          eval "$({{ homebrew_path }}/goenv init -)"

- name: Add setup for bat
  when: "'bat' in ansible_facts.packages"
  block:
    - name: Create a symbolic link for bat
      ansible.builtin.file:
        src: "/usr/bin/batcat"
        dest: "/home/{{ user }}/bin/bat"
        state: link
