- name: "setup jetbrains gitclient"
  when: enable_jetbrains_gitclient | default(false)
  block:
    - name: Create symlink to binary
      ansible.builtin.file:
        src: ~/applications/gitclient/bin/gitClient
        dest: ~/bin/gitclient
        state: link

    - name: Create desktop file
      ansible.builtin.copy:
        content: |
          [Desktop Entry]
          Name=gitclient by jetbrains
          Exec=/home/{{ user }}/applications/gitclient/bin/gitClient
          Version=1.0
          Type=Application
          Categories=Development;IDE;
          Terminal=false
          Icon=/home/{{ user }}/applications/gitclient/bin/gitClient.svg
          Comment=The IDE for Java and Kotlin enthusiasts
          StartupNotify=true
        dest: ~/.local/share/applications/gitclient.desktop
        mode: "ug=rw,o=r"
