- name: "ubuntu desktop configuration"
  when: enable_ubuntu_desktop | default(true)
  block:
    - name: ubuntu_desktop print var
      ansible.builtin.debug:
        var: ubuntu_desktop

    - name: "set defaults for ubuntu_desktop role"
      ansible.builtin.set_fact:
        ubuntu_desktop_defaults:
          enable_dependencies: true
          enable_favorite_apps: true
          enable_keyboard_layouts: true
          enable_shortcuts: true
          enable_gpaste_config: false
          enable_testing_browser_desktop: false
          # 10 allowed, 0-9
          favorite_apps:
            - desktop_file_name: ghostty_ghostty.desktop
              shortcut: "<Super>z"
            - desktop_file_name: firefox_firefox.desktop
              shortcut: "<Super>u"
            - desktop_file_name: phpstorm_phpstorm.desktop
              shortcut: "<Super>i"
            - desktop_file_name: dev.zed.Zed.desktop
              shortcut: "<Super>o"
            - desktop_file_name: gitclient.desktop
              shortcut: "<Super>g"

    - name: "set facts for ubuntu_desktop role"
      ansible.builtin.set_fact:
        ubuntu_desktop: "{{ ubuntu_desktop_defaults | combine((ubuntu_desktop | default({})), recursive=true) }}"

    - name: ubuntu_desktop print var
      ansible.builtin.debug:
        var: ubuntu_desktop

    - name: Install psutil that is needed for dconf module below
      become: true
      ansible.builtin.apt:
        name: python3-psutil

    - name: Install xfce-terminal
      become: true
      ansible.builtin.apt:
        name: xfce4-terminal

    - name: add shortcuts for apps
      block:
        - name: set favorite_apps_var
          ansible.builtin.set_fact:
            ubuntu_desktop_favorite_apps_value: '[''{{ (ubuntu_desktop.favorite_apps | map(attribute=''desktop_file_name'') | join("'',''")) }}'']'

        - name: debug result of map
          ansible.builtin.debug:
            msg: "{{ ubuntu_desktop_favorite_apps_value }}"

        - name: define all gnome favorite apps
          community.general.dconf:
            key: "/org/gnome/shell/favorite-apps"
            value: "{{ ubuntu_desktop_favorite_apps_value }}"

        - name: set keyboard shortcuts for favorite apps
          ansible.builtin.command: 'gsettings set org.gnome.shell.keybindings switch-to-application-{{ index + 1 }} "{{ [item.shortcut] }}"'
          loop: "{{ ubuntu_desktop.favorite_apps }}"
          loop_control:
            label: "Setting shortcut {{ item.shortcut }} for app {{ index + 1 }} ({{ item.desktop_file_name }})"
            index_var: index

    - name: add german keyboard layouts
      community.general.dconf:
        key: "/org/gnome/desktop/input-sources/sources"
        value: "[('xkb', 'ch'), ('xkb', 'us')]"

    # to dump the current settings:
    # gsettings list-recursively org.gnome.desktop.wm.keybindings
    # gsettings list-recursively org.gnome.mutter.keybindings
    - name: configure keyboard shortcuts
      ansible.builtin.set_fact:
        gnome_shortcuts:
          - schema: "org.gnome.desktop.wm.keybindings"
            key: "switch-to-workspace-right"
            value: "['<Control><Super>Right']"
            description: "add shortcut for switching workspace right"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "switch-to-workspace-down"
            value: "['<Control><Super>Down']"
            description: "add shortcut for switching workspace down"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "switch-to-workspace-left"
            value: "['<Control><Super>Left']"
            description: "add shortcut for switching workspace left"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "switch-to-workspace-up"
            value: "['<Control><Super>Up']"
            description: "add shortcut for switching workspace up"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "move-to-workspace-right"
            value: "['<Control><Shift><Alt>Right']"
            description: "add shortcut for moving window to monitor right"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "move-to-workspace-down"
            value: "['<Control><Shift><Alt>Down']"
            description: "add shortcut for moving window to monitor down"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "move-to-workspace-left"
            value: "['<Control><Shift><Alt>Left']"
            description: "add shortcut for moving window to monitor left"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "move-to-workspace-up"
            value: "['<Control><Shift><Alt>Up']"
            description: "add shortcut for moving window to monitor up"

          - schema: "org.gnome.mutter.keybindings"
            key: "toggle-tiled-right"
            value: "['<Super>Right']"
            description: "set shortcut for tiling window right"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "unmaximize"
            value: "['<Super>Down']"
            description: "add minimize shortcut"

          - schema: "org.gnome.mutter.keybindings"
            key: "toggle-tiled-left"
            value: "['<Super>Left']"
            description: "set shortcut for tiling window left"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "maximize"
            value: "['<Super>Up']"
            description: "add maximize shortcut"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "move-to-monitor-down"
            value: "['<Shift><Super>Down']"
            description: "add shortcut for moving window to monitor down"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "move-to-monitor-left"
            value: "['<Shift><Super>Left']"
            description: "add shortcut for moving window to monitor left"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "move-to-monitor-right"
            value: "['<Shift><Super>Right']"
            description: "add shortcut for moving window to monitor right"

          - schema: "org.gnome.desktop.wm.keybindings"
            key: "move-to-monitor-up"
            value: "['<Shift><Super>Up']"
            description: "add shortcut for moving window to monitor up"

          - schema: "org.gnome.mutter.keybindings"
            key: "switch-monitor"
            value: "[]"
            description: "Switch monitor"

    - name: set dconf shortcuts
      ansible.builtin.command: 'gsettings set "{{ item.schema }}" "{{ item.key }}" "{{ item.value }}"'
      loop: "{{ gnome_shortcuts }}"
      loop_control:
        label: "{{ item.description }}\n"

    - name: disable gpaste shortcuts
      when: "'gpaste-2' in apt_packages.additional_tools"
      block:
        - name: reset all these shortcuts with gsettings
          ansible.builtin.command: "gsettings set {{ item.schema }} {{ item.key }} ''" # noqa syntax-check
          loop:
            - { schema: "org.gnome.GPaste", key: "history-name" }
            - { schema: "org.gnome.GPaste", key: "launch-ui" }
            - { schema: "org.gnome.GPaste", key: "make-password" }
            - { schema: "org.gnome.GPaste", key: "pop" }
            - { schema: "org.gnome.GPaste", key: "show-history" }
            - { schema: "org.gnome.GPaste", key: "sync-clipboard-to-primary" }
            - { schema: "org.gnome.GPaste", key: "sync-primary-to-clipboard" }
            - { schema: "org.gnome.GPaste", key: "upload" }

    - name: additional desktop files
      when: ubuntu_desktop.enable_testing_browser_desktop | default(false)
      block:
        - name: create icons dir
          ansible.builtin.file:
            path: "~/.local/icons"
            state: directory
            owner: "{{ user }}"
            group: "{{ user }}"
            mode: "u=rwx,go=rx"

        - name: add local testing browser
          when: ubuntu_desktop.enable_testing_browser_desktop
          block:
            - name: add ecamp logo
              ansible.builtin.copy:
                src: ecamp.png
                dest: "~/.local/icons/ecamp.png"
                mode: "u=rw,go=rx"

            - name: additional testing browser desktop file
              ansible.builtin.copy:
                content: |
                  [Desktop Entry]
                  Version=1.0
                  Type=Application
                  Name=Local testing
                  GenericName=Browser
                  StartupNotify=true
                  Terminal=false
                  Exec=env BAMF_DESKTOP_FILE_HINT=/home/{{ user }}/.local/share/applications/firefox-local-testing.desktop /snap/bin/firefox http://localhost:3000
                  Icon=/home/{{ user }}/.local/icons/ecamp.png
                  Categories=Browser;
                  Keywords=browser;testing;

                dest: "~/.local/share/applications/firefox-local-testing.desktop"
                mode: "ug=rw,o=r"
